
//== Color
//
//
$color-base:            #000;
$primary-blue:          #00B6C2;
$brand-primary:         #0060F2;
$warning:               #efae45;

$black:                 #000;
$highlight:             #e6ff00;
$light-gray:            #f9f9f9;
$color-field-border:    #B2C1D8;
$color-error:           #FF003C;
$mouseover-color:       #F1F9FF;
$finished:              #f9fcff;
$active-step:           #EDF0F5;

$bg-gray:               #bfbfbf;
$font-default-gray:     #808080;
$gray:                  #808080;
$white:                 #fff;

$link-active:           #E6FF03;



//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-andale:          'AndaleMono', sans-serif;
$font-avenir:          'Avenir', 'Lato', sans-serif;
$font-avenir-next:     'AvenirNext', sans-serif;

$border-thick:                  3px;

//spacing
$vertical-space-small:          7px;
$logo-circle-size:              41px;
$vertical-space:                9px;
$vertical-space-xl:             10px;
$mb-logo-spacing:               (45/385)*100%;
$line-height-computed:          18px;
$chibi-line-height:             24px;
$width-base:                    100px;
$full-width:                    100%;


//1em = 12pt = 16px = 100%

$font-size-xlarge:      18px;
$font-size-large:       16px;
$font-size-medium:      14px;
$font-size-small:       13px;
$font-size-xsmall:      12px;
$font-size-xxsmall:     9px;

$font-weight-base:      300;
$font-weight-strong:    500;
$font-weight-increase:  600;
$font-weight-max:       bold;

$line-height:           19px; // 16px line-height


$h2:                    28px;
$h3:                    16px;

$h2-line-height:        36px;
$h3-line-height:        19px;

$h1-margin-bottom:      17px;



