.scope-content{
   //display: flex;
   span{
      padding-right: $vertical-space-xl;
   }
}
.img-holder{
   display: block;
   text-align: center;
}
img{
   &.chibi-scope{
      width: 250px;
   }
}

@include respond-to(mobile){
   .scope-content{
      display: block;
      margin-bottom: $vertical-space-xl * 4;
   }
}
