.column-box-1 {
    box-sizing: border-box;
    box-sizing: inherit;
    display: flex;
    margin-bottom: 60px;
}



.first-column {
    width: 38.33%;
    padding: 0 79px 0 10px;
    float: left;
    text-align: right;
}

.second-column {
    width: 61.67%;
    display: inline-block;
}


.logo-box {
    width: 100%;
    height: 225px;
}

.token-logo {
    width: 225px;
    align: right;
    float: right;
    margin: 0;
}

.token-img {
    margin-bottom: 17px;
}

.column-box-2 {
    margin-top: 75px;
    margin-bottom: 75px;
    box-sizing: border-box;
    box-sizing: inherit;
    display: flex;
}

.column-left {
    width: 50%;
    text-align: center;
    padding: 0;
    padding: 0 79px 0 10px;
}


.column-right {
    width: 50%;
    text-align: center;
    padding: 0;
}