/* line 2, ../sass/custom-type.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 71, ../sass/custom-type.scss */
.opacity {
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
}

/* line 97, ../sass/custom-type.scss */
strong {
  font-weight: bold;
}

/* line 106, ../sass/custom-type.scss */
h2 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 17px;
}

/* line 112, ../sass/custom-type.scss */
h3 {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 17px;
}

/* line 122, ../sass/custom-type.scss */
.font-andale, a.yellow, .inputbox {
  font-family: "AndaleMono", sans-serif;
}

/* line 126, ../sass/custom-type.scss */
.avenir-black {
  font-family: "Avenir", "Lato", sans-serif;
  font-weight: bold;
}

/* line 132, ../sass/custom-type.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 138, ../sass/custom-type.scss */
ul li {
  clear: both;
}

/* line 142, ../sass/custom-type.scss */
.clearfix {
  clear: both;
}

/* line 146, ../sass/custom-type.scss */
.left {
  float: left;
}

/* line 150, ../sass/custom-type.scss */
.right {
  float: right;
}

/* line 155, ../sass/custom-type.scss */
a {
  color: white;
  font-weight: bold;
}
/* line 159, ../sass/custom-type.scss */
a.no-underline {
  text-decoration: none;
}
/* line 161, ../sass/custom-type.scss */
a.no-underline:hover {
  text-decoration: underline;
}
/* line 165, ../sass/custom-type.scss */
a.yellow {
  color: #E6FF03;
  text-decoration: none;
}
/* line 169, ../sass/custom-type.scss */
a.yellow:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 750px) {
  /* line 155, ../sass/custom-type.scss */
  a {
    word-break: break-word;
  }
}

/* line 178, ../sass/custom-type.scss */
.pointer, a, .btn-primary {
  cursor: pointer;
}

/* line 182, ../sass/custom-type.scss */
.no-underline {
  text-decoration: none;
}

/* line 186, ../sass/custom-type.scss */
.underline {
  text-decoration: underline;
}

/* line 190, ../sass/custom-type.scss */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 197, ../sass/custom-type.scss */
.p-spacing-less,
.margin-none {
  margin: 0;
  padding: 0;
}

/* line 203, ../sass/custom-type.scss */
.padding-none {
  padding: 0;
}

/* line 207, ../sass/custom-type.scss */
.margin-top-no, .first-heading, .first-heading.heading-andela {
  margin-top: 0;
  padding-top: 0;
}

/* line 220, ../sass/custom-type.scss */
.text-small {
  font-size: 14px;
}

/* line 225, ../sass/custom-type.scss */
.uppercase, .inputbox .error-inline-note {
  text-transform: uppercase;
}

/* line 230, ../sass/custom-type.scss */
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
textarea {
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  color: #000;
  background-color: #fff;
  border: 0;
  padding: 10px 6px 10px 6px;
}
/* line 244, ../sass/custom-type.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
}
/* line 248, ../sass/custom-type.scss */
input[type="text"].short,
input[type="password"].short,
input[type="number"].short,
input[type="email"].short,
textarea.short {
  width: 240px;
  display: inline-block;
  margin-right: 7px;
}
/* line 253, ../sass/custom-type.scss */
input[type="text"].medium,
input[type="password"].medium,
input[type="number"].medium,
input[type="email"].medium,
textarea.medium {
  width: 400px;
}
/* line 256, ../sass/custom-type.scss */
input[type="text"].error,
input[type="password"].error,
input[type="number"].error,
input[type="email"].error,
textarea.error {
  color: #FF003C;
}

/* line 262, ../sass/custom-type.scss */
input[type="text"] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  height: 36px;
  font-size: 16px;
}

/* line 268, ../sass/custom-type.scss */
select {
  width: 100%;
  height: 36px;
  background-color: #fff;
  padding: 10px 6px 5px 6px;
  margin-bottom: 18px;
  font-size: 16px;
}

/* line 277, ../sass/custom-type.scss */
textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-align: left;
  font-size: 16px;
  width: 100%;
}

/* line 284, ../sass/custom-type.scss */
.btn-attach {
  margin: 18px 0;
}
/* line 286, ../sass/custom-type.scss */
.btn-attach .limit {
  font-style: italic;
  font-size: 12px;
}
/* line 290, ../sass/custom-type.scss */
.btn-attach .error {
  display: block;
  font-style: italic;
}

/* line 298, ../sass/custom-type.scss */
.file-upload {
  font-size: 16px;
  color: black;
  background-color: #fff;
  height: 36px;
  max-width: 100px;
  padding: 8px 6px 5px 6px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 309, ../sass/custom-type.scss */
input[type="file"] {
  display: none;
}

/* line 313, ../sass/custom-type.scss */
.file-name {
  padding-left: 5px;
  line-height: 2;
  word-break: break-word;
}

/* line 44, ../sass/custom-type.scss */
::-webkit-input-placeholder {
  color: #808080;
}

/* line 47, ../sass/custom-type.scss */
:-moz-placeholder {
  color: #808080;
}

/* line 50, ../sass/custom-type.scss */
::-moz-placeholder {
  color: #808080;
}

/* line 53, ../sass/custom-type.scss */
:-ms-input-placeholder {
  color: #808080;
}

/* line 325, ../sass/custom-type.scss */
.inputbox {
  width: 100%;
  color: #000;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #B2C1D8;
  padding: 10px 6px 5px 6px;
  font-size: 12px;
}
/* line 335, ../sass/custom-type.scss */
.inputbox.error {
  border-bottom: 1px solid #FF003C;
}
/* line 339, ../sass/custom-type.scss */
.inputbox .error-inline-note {
  margin: 0;
  padding: 0;
  color: #FF003C;
}

/* line 347, ../sass/custom-type.scss */
.control-holder {
  position: relative;
}
/* line 349, ../sass/custom-type.scss */
.control-holder .error-note {
  top: 46px;
}

/* line 354, ../sass/custom-type.scss */
.error-note {
  position: absolute;
  display: inline-block;
  font-style: normal !important;
  font-size: 14px;
  color: #000;
  height: auto;
}
/* line 365, ../sass/custom-type.scss */
.error-note:before {
  content: "";
  display: block;
  border-style: solid;
  border-color: transparent transparent transparent;
  border-bottom-color: white;
  border-top-width: 0;
  border-left-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 10px;
  margin-left: -10px;
  position: absolute;
  left: 30%;
  top: -8px;
  bottom: auto;
}
/* line 381, ../sass/custom-type.scss */
.error-note span {
  display: inline-block;
  border: solid 1px white;
  background: white;
  padding: 2px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
}
/* line 389, ../sass/custom-type.scss */
.error-note .fa-exclamation-triangle {
  color: #efae45;
}

/* line 394, ../sass/custom-type.scss */
.button {
  position: relative;
}
/* line 396, ../sass/custom-type.scss */
.button .error-note {
  top: 43px;
  margin-bottom: 0;
}

/* line 402, ../sass/custom-type.scss */
.btn {
  background-color: transparent;
  outline: none !important;
  border: 0;
}
/* line 408, ../sass/custom-type.scss */
.btn.btn-t-blue {
  color: #0060F2;
}
/* line 411, ../sass/custom-type.scss */
.btn.btn-italic {
  font-style: italic;
}

/* line 416, ../sass/custom-type.scss */
.btn-primary {
  width: 100%;
  padding: 7px 14px;
  color: white;
  background-color: #00B6C2;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 428, ../sass/custom-type.scss */
.btn-primary.align-left {
  padding: 0;
}

/* line 433, ../sass/custom-type.scss */
.btn-continue {
  margin-top: 14px;
  display: inline-block;
  background-color: white;
  padding: 6px 42px;
  color: #00B6C2;
}
/* line 439, ../sass/custom-type.scss */
.btn-continue.download, .btn-continue.blue {
  background: #00B6C2;
  color: #fff;
  font-weight: bold;
}

/* line 447, ../sass/custom-type.scss */
.icon-close-round {
  width: 13px;
  height: 13px;
  fill: white;
}

/* line 452, ../sass/custom-type.scss */
.btn-close {
  cursor: pointer;
}
/* line 454, ../sass/custom-type.scss */
.btn-close input[type="submit"] {
  display: none;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/avenir/Avenir-Light.eot");
  src: url("../fonts/avenir/Avenir-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir/Avenir-Light.woff") format("woff"), url("../fonts/avenir/Avenir-Light.ttf") format("truetype"), url("../fonts/avenir/Avenir-Light.svg#avenir") format("svg");
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/avenir/Avenir-Book.eot");
  src: url("../fonts/avenir/Avenir-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir/Avenir-Book.woff") format("woff"), url("../fonts/avenir/Avenir-Book.ttf") format("truetype"), url("../fonts/avenir/Avenir-Book.svg#avenir") format("svg");
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/avenir/Avenir-Black.eot");
  src: url("../fonts/avenir/Avenir-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir/Avenir-Black.woff") format("woff"), url("../fonts/avenir/Avenir-Black.ttf") format("truetype"), url("../fonts/avenir/Avenir-Black.svg#avenir") format("svg");
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'AvenirNext';
  src: url("../fonts/avenir-next/AvenirNextLTPro-Regular.eot");
  src: url("../fonts/avenir-next/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir-next/AvenirNextLTPro-Regular.woff") format("woff"), url("../fonts/avenir-next/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../fonts/avenir-next/AvenirNextLTPro-Regular.svg#avenir") format("svg");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'AndaleMono';
  src: url("../fonts/andaleMono/AndaleMono.eot");
  src: url("../fonts/andaleMono/AndaleMono.eot?#iefix") format("embedded-opentype"), url("../fonts/andaleMono/AndaleMono.woff") format("woff"), url("../fonts/andaleMono/AndaleMono.ttf") format("truetype"), url("../fonts/andaleMono/AndaleMono.svg#avenir") format("svg");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 515, ../sass/custom-type.scss */
.fa {
  display: inline-block;
  font: normal normal normal 14px FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 5px 0 0;
}

/* line 526, ../sass/custom-type.scss */
.fa-caret-right:before {
  content: " \f0da ";
}

/* line 530, ../sass/custom-type.scss */
.fa-exclamation-triangle:before {
  content: " \f071 ";
}

/* line 537, ../sass/custom-type.scss */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* line 543, ../sass/custom-type.scss */
.animated.infinite {
  animation-iteration-count: infinite;
}

/* line 549, ../sass/custom-type.scss */
.animated.hinge {
  animation-duration: 2s;
}

/* line 555, ../sass/custom-type.scss */
.animated.flipOutX {
  animation-duration: .75s;
}
/* line 558, ../sass/custom-type.scss */
.animated.flipOutY {
  animation-duration: .75s;
}
/* line 561, ../sass/custom-type.scss */
.animated.bounceIn {
  animation-duration: .75s;
}
/* line 564, ../sass/custom-type.scss */
.animated.bounceOut {
  animation-duration: .75s;
}

@-webkit-keyframes flash {
  from,
    50%,
    to {
    opacity: 1;
  }
  25%,
    75% {
    opacity: 0;
  }
}
@keyframes flash {
  from,
    50%,
    to {
    opacity: 1;
  }
  25%,
    75% {
    opacity: 0;
  }
}
/* line 593, ../sass/custom-type.scss */
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* line 619, ../sass/custom-type.scss */
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
