.datadonation-faq, .privacy-policy, .terms, .security-policy{
   @extend .overflow-smaooth;
   background: white;
   position: fixed !important;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 999;

   .row{
      position: initial;
   }
}

.datadonation-faq, .privacy-policy, .terms{
   padding-top: $gutter *2;
   .content{
      font-family: EgyptienneFLTW01;
   }
}

.datadonation-faq, .privacy-policy, .terms{
   .content-container{
      margin-top: 0;
   }
}

@include respond-to(handheld-device){
   .datadonation-faq, .privacy-policy, .terms, .security-policy{
      .grid-6{width: 100%;}
   }
}

